/* sm */
@media (min-width: 640px) {

}
/* md */
@media (min-width: 768px) {
  
}
@media (max-width: 768px) {
  .quote-container {
    margin: 3.8rem 0 2rem 0;
    min-width: 345px;
    max-width: 345px;
  }
  .decorative-icon{
    font-size: 40rem;
  }
   .footer{
    height: 50px; 
   }
   .footer .email-sm-screen{
    display: block;
   }
  .footer .email-larger-screens{
    display: none;
  }
  
}

/* lg */
@media (max-width: 1024px) {

}

/* xl */
@media (min-width: 1200px) {

}
@media (min-width: 1280px) {
}
/* 2xl */
@media (min-width: 1536px) {
}
